<h1>Hello, and welcome to your Family Organiser App</h1>
<br>
<form action='/login' method='post'>

<label for='email_address'>Your email address</label>
  <input type='text' name='email' placeholder='Email Address'>
<br><br>
<label for='shared_password'>Shared Family Password</label>
  <input type='text' name='shared_password' placeholder='Shared Password'>
<br><br>

<input type='submit' value='Log In'>
</form> 