<h1>Sign Up</h1>
<br><br>

<form action='/signup' method='post'>
<label for='Email'>Email Address:</label>
  <input type='text' name='email' placeholder='Email'>
<br><br>

<label for='first_name'>First Name:</label>
  <input type='text' name='first_name' placeholder='First Name'>
<br><br>
<label for='household_name'>Household Name:</label>
  <input type='text' name='household_name' placeholder='Examples: "Garcia Family", "Alice and David"' size="50">
<br><br>
<label for='shared_password'>Shared Password:</label>
  <input type='text' name='shared_password' placeholder='Shared Password'>
<br><br>
<input type='submit' value='Create Account'>

</form>