Welcome <%=@user.first_name%>!!
<br><br>

<h2>Here are all your Events</h2>

<%@user.events.each do |event|%>
  <li><%=event.description%></li>
  <%end%>


<a href='/events/new'>Create a new Event</a>

