

Welcome <%=@user.first_name%>!!
<br><br>

<h2>Here are all your Events this month</h2>

<h3> Today is <%=Date.today%></h3>

<%@user.events.each do |event|%>
    <li><%=event.description%></li>
    <li>Due in: <%=event.date_to%></li>
  <%end%>


<a href='/events/new'>Create a new Event</a>

